<html>
    <head>
        <link rel="stylesheet" href="stylee.css">
    </head>
<body>
    <div class="container">
    <div class="card">
    <div class="inner-box" id="card">
    <div class="card-front">
        <h2>LOGIN</h2>
    <form>
        <input type="email" class="input-box" placeholder="Your Email Id " required><br><br>
        <input type="password" class="input-box" placeholder="password" required><br><br>
        <button type="submit" class="submit-btn">Submit</button>
        <br>
    </form>
    
    <a href="">Forget Password</a>
        </div>
        <div class="card-back">
             <h2>SIGNUP</h2>
    <form>
        <input type="text" class="input-box" placeholder="Your Name" required> <br><br>
        <input type="email" class="input-box" placeholder="your Email Id " required><br><br>
        <input type="password" class="input-box" placeholder="password" required><br><br>
        <button type="submit" class="submit-btn">Submit</button><br>
        
    </form>
    <br><button type="button" class="btn" onclick="openLogin()">I've an account</button>
    <a href="">Forget Password</a>
        
        </div>
        </div>
    </div>
    </div>
    
    <script>
        var card = document.getElementById("card");
        function openSignup(){
            card.style.transform = "rotateY(-180deg)";
        }
            function openLogin(){
            card.style.transform = "rotateY(0deg)";
        }
    </script>
    </body>
</html>